@import url('https://fonts.googleapis.com/css2?family=Lato');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root{
    --white: #fff;
    --dark1: #34344e;
    --dark2: #3a415a;
    --dark3: #566981;    
    --dark4: #89a7b1;    
    --dark5: #cbdad5;
    --dark6: #2f2f46;
    --cyan1: #70e3ea;

}

/* GLOBAL BODY */ 
body{
    background-color: var(--dark1);
    background-size: 400%;
    height: 100vh;
    font-family: 'Lato';
}

/* GLOBAL NAVBAR */ 
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    padding: .8rem;
    background-color: #2f2f46;
    min-height: 50px;
}

.box-img-header{
    height: 100%;
}

.img-logo{
    height: 100%;
    max-height: 60px;
}

/* TXT NAVBAR */ 

nav{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav-links{
    text-decoration: none;
    color: var(--white);
}

.nav-links:hover{
    color: var(--dark4);
    text-decoration: underline;
    transition: .4s;
}

/* GLOBAL MAIN AND SECTIONS*/

main{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

section{
    padding: 4rem;
}

/* FIRST SECTION */

.first-section{
    display: flex;
    justify-self: space-evenly;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    min-height: 650px;

}

.first-section-txt{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

h1{
    font-size: 4rem;
    color: var(--white);
    letter-spacing: 8px;
}

h2{
    color: var(--white);
}

.first-section p{
    color: var(--white);
}

/* BUTTON */

.btn-action{
    background-color: transparent;
    border: 1 px solid var(--white);
    color: var(--white);
}

.btn-action:hover{
    background-color: var(--dark3);
    border: 1 px solid var(--dark3);
}

.link-action{
    padding: ,6rem;
    font-size: .9rem;
    border-radius: 6px;
    cursor: pointer;
    transition: .4s;
}

.link-action{ 
    text-decoration:none;
    width:200px;
    text-align:center;
}

/* IMAGES FIRST SECTION */

.box-img-main{
    max-width: 450px;
    padding: 3rem;
}

.img-main{
    height: 100%;
    width: 200%;
}

/* SECOND SECTION */ 

.secong-section h2{
    align-items: center;
    padding-left: 3%;
}

.video{
    width: 100%;
    padding: 1rem;
    justify-items: center;
    flex-wrap: wrap;

}

/* THIRD SECTION*/

.third-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    flex-wrap: wrap;
}

.third-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.third-section > div img{
    max-width: 650px;
    padding: 1rem;
}

.third-section > div p{
    max-width: 600px;
    color: var(--white);
}

/* FOURTH SECTION 
            
            <h2 class="title">Solução</h2>

            <div>
                <img class="img-solution" src="./images/img-solution.png" alt="Imagem do esboço do App">
            </div>

            <p>O aplicativo permite que o usuário monitore seus indicadores (pressão arterial, níveis de glicose, atividade física, batimentos cardíacos).Tudo para personalizar a experiência de atendimento. 
            </p> 
*/ 

.fourth-section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    flex-wrap: wrap;
}

.fourth-section > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.fourth-section > div img{
    max-width: 650px;
    padding: 1rem;
}

.fourth-section > div p{
    max-width: 600px;
    color: var(--white);
}

/* SECTION FORM */ 

@media screen and (max-width: 1080px) {
    .form-img {
        display: none;
    }
}

#form {
    margin: auto;
    width: 100%;
    height: 130vh;
    display: flex;
    gap: 1em;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

form {
    display: flex;
}

.form {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 650px;
    padding: 2em;
}

div.form-txt {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 650px;
    padding: 2em;
}

div.form-txt input {
   padding: 0.7em 1em;
   border-radius: 8px;
   border: none;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.404);

   font-size: 18px;
   outline: unset;
}

.form-txt button {
    padding: 1em;
    background-color: #63B3FF;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;

    font-size: 1em;
    color: #fff;
}

.form-txt button:hover {
    box-shadow: 0px 0px 15px #63b4ff9a;
}

.form-txt button:active {
    scale: 0.95;
    background-color: #1B65A6;
    transition: .2s;
}

label {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-label {
    text-align: left;
    color: rgba(255, 255, 255, 0.90);
    font-family: 'Inter';
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.form-img {
    width: 20rem;
}

.change-color {
    color: red;
    transition: .2s;

    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.change-color-2 {
    color: green;
    transition: .2s;

    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.change-color-3 {
    color: rgb(255, 255, 255);

    text-align: left;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

#usuario-cadastrado {
    padding: 1em;
    color: rgb(255, 255, 255);

    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

/*FOOTER */
footer{
    padding: .4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contact{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    min-height: 650px;
    flex-wrap: wrap;
}

.contact > div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 300px;
}

.contact > div img{
    max-width: 650px;
    height:650px ;
    padding: 1rem;

}

.contact > div p{
    max-width: 600px;
    color: var(--white);
}